<% img_url = @list.photo.attached? ? cl_image_path(@list.photo.key) : "https://source.unsplash.com/1080x720/?#{@list.name}" %>
<div class="banner banner-show d-flex flex-column justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= img_url %>);">
  <div class="container">
    <% weird_name = @list.name.chars.map { |char| rand(1..10) > 5 ? char : char.upcase }.join %>
    <h1>WatchList: <span class="banner-show-title"><%= weird_name %></span></h1>
    <div class="show-page-buttons">
      <%= link_to 'BACK', lists_path, class: 'btn btn-success' %>
      <%= link_to 'ADD RANDOM FILMS', toggle_path, class: 'btn btn-danger' %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-bookmark-modal">
        ADD ANY FILM
      </button>
      <!-- Modal -->
      <div class="modal fade" id="new-bookmark-modal" tabindex="-1" aria-labelledby="new-bookmark-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add a Film to <%= @list.name.capitalize %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for([@list, @bookmark]) do |f| %>
                <%= f.input :comment %>
                <%= f.association :movie, input_html: { class: 'select2 select2-width' } %>
                <%= f.submit class: 'btn btn-primary', value: 'Add Film'%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="film-card-container">
    <% @bookmarks.each do |bookmark| %>
      <% film = bookmark.movie %>
      <div class="film-card">
        <%= image_tag film.poster_url, alt: "#{film.title}" %>
        <div class="film-details">
          <h3><%= film.title %></h3>
          <p class="comment"><%= bookmark.comment %></p>
          <p><%= film.overview %></p>
        </div>
        <div class="rating"><%= film.rating %></div>
        <%= link_to bookmark_path(bookmark),
                    method: :delete,
                    data: { confirm: "Sure about that?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
