<div class="container mt-3">
  <% weird_name = @list.name.chars.map { |char| rand(1..10) > 5 ? char : char.upcase }.join %>
  <div class="position-relative">
    <h1>List: <%= weird_name %></h1>
    <%= link_to 'BACK', lists_path, class: 'position-absolute btn btn-warning', style: 'top: 0px; right: 0px' %>
    <div class="dropdown position-absolute" style="top: 0px; right: 90px">
      <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ADD A FILM
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <div class="new-bookmark">
          <%= simple_form_for([@list, @bookmark]) do |f| %>
            <%= f.input :comment %>
            <%= f.association :movie, input_html: { class: 'select2 select2-width' } %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to 'HOME', lists_path, class: 'btn btn-success position-absolute', style: 'top: 0px; right: 257px' %>
  </div>
  <div class="film-card-container">
    <% @bookmarks.each do |bookmark| %>
      <% film = bookmark.movie %>
      <div class="film-card">
        <%= image_tag film.poster_url, alt: "#{film.title}" %>
        <div class="film-details">
          <h3><%= film.title %></h3>
          <p class="comment"><%= bookmark.comment %></p>
          <p><%= film.overview %></p>
        </div>
        <div class="rating"><%= film.rating %></div>
        <%= link_to bookmark_path(bookmark),
                    method: :delete,
                    data: { confirm: "Sure about that?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
