<div class="container mt-3">
  <% weird_name = @list.name.chars.map { |char| rand(1..10) > 5 ? char : char.upcase }.join %>
  <div class="position-relative">
    <h1>List: <%= weird_name %></h1>
    <%= link_to 'BACK', lists_path, class: 'position-absolute btn btn-warning', style: 'top: 0px; right: 0px' %>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary position-absolute" data-toggle="modal" data-target="#new-bookmark-modal" style="top: 0px; right: 94px">
      ADD A FILM
    </button>

    <!-- Modal -->
    <div class="modal fade" id="new-bookmark-modal" tabindex="-1" aria-labelledby="new-bookmark-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a Film to <%= @list.name.capitalize %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for([@list, @bookmark]) do |f| %>
              <%= f.input :comment %>
              <%= f.association :movie, input_html: { class: 'select2 select2-width' } %>
              <%= f.submit class: 'btn btn-primary', value: 'Add Film'%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'HOME', lists_path, class: 'btn btn-success position-absolute', style: 'top: 0px; right: 246px' %>
  </div>
  <div class="film-card-container">
    <% @bookmarks.each do |bookmark| %>
      <% film = bookmark.movie %>
      <div class="film-card">
        <%= image_tag film.poster_url, alt: "#{film.title}" %>
        <div class="film-details">
          <h3><%= film.title %></h3>
          <p class="comment"><%= bookmark.comment %></p>
          <p><%= film.overview %></p>
        </div>
        <div class="rating"><%= film.rating %></div>
        <%= link_to bookmark_path(bookmark),
                    method: :delete,
                    data: { confirm: "Sure about that?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
