<div class="container mt-4">
  <h1><%= @list.name %></h1>
  <% @bookmarks_to_toggle.each do |bookmark| %>
    <div class="toggle-container d-flex align-items-center">
      <div class="toggle-film-container" style="width: 70%">
        <% film = bookmark.movie %>
        <div class="film-card">
          <%= image_tag film.poster_url, alt: "#{film.title}" %>
          <div class="film-details">
            <h3><%= film.title %></h3>
          </div>
          <div class="rating"><%= film.rating %></div>
        </div>
      </div>
      <div class="toggler-container d-flex align-items-center justify-content-center">
        <%= form_tag(toggle_update_path(@list, film), method: 'patch', class: "switch-button", remote: true) do %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= check_box_tag :toggler, film.id, checked = !bookmark.active, class: "switch-button-checkbox" %>
          <%= label_tag film.id, nil, class: "switch-button-label" do %><span class="switch-button-label-span">In</span><% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
